:root {
  --white-cream: #5c9967;
  --dark-green: #63605f;
  --light-brown: #c4a49f;
  --yellow: #f0d1a8;
  --red: #f23834;
  --orange: #f2b258;
  --light-red: #f87777;
  --primary-btn-hover: hsl(131, 25%, 39%);

  --button-input-radius: 0.5rem;
  --input-padding: 0.5rem 1rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

input {
  border: 1px solid grey;
  border-radius: var(--button-input-radius);
  padding: var(--input-padding);
}

button {
  cursor: pointer;
  border-radius: var(--button-input-radius);
  padding: var(--input-padding);
  border: none;
  transition: background-color 250ms;
}

button:active {
  transform: scale(0.98);
}

button.primary-button {
  background-color: var(--white-cream);
  color: #fff;
  width: 100%;
  font-size: large;
}

button.primary-button:hover {
  background-color: var(--primary-btn-hover);
}
