/*Modal*/
.success-login-modal {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 14rem;
  background-color: var(--dark-green);
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
}

.login-modal-content p {
  text-transform: capitalize;
}

/*Navigation*/
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #f2eaea;
}

nav > * {
  padding-top: 1%;
}

nav .nav-logo {
  cursor: pointer;
}

nav .nav-links ul {
  display: flex;
  list-style-type: none;
}

nav .nav-links ul li {
  padding: 0 1rem;
}

nav .nav-links ul li a {
  text-decoration: none;
  color: #4e4e4e;
  text-transform: capitalize;
  font-weight: bold;
  transition: color 250ms;
}

nav .nav-links ul li a:hover {
  color: black;
}

nav .nav-links ul li a.active {
  border-bottom: 2px solid black;
  color: black;
}

nav .account-info {
  cursor: pointer;
}

nav .account-info img {
  width: 35px;
  aspect-ratio: 1;
}

/*Welcome Header*/
section.main-title h1 {
  text-align: center;
  font-size: xxx-large;
}

.main-title h1 .text-grey {
  color: gray;
}

/*Main Dashboard*/
main.dashboard {
  width: 85%;
  margin: auto;
  background-color: #f2eaea;
  padding: 1rem;
  border-radius: 2rem;
}

.dashboard .calendar-tasks-grid {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.calendar-tasks-grid .day-of-the-week {
  color: red;
  font-size: 3rem;
  font-family: cursive;
  margin: 0;
}

.calendar-tasks-grid .date {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 0;
}

.tasks-overview {
  display: flex;
  justify-content: space-between;
}

.tasks-overview .completed-tasks {
  background-color: #f0d1a8;
}

.tasks-overview .pending-tasks {
  background-color: #c4a49f;
}

.tasks-overview .tasks-container {
  text-align: center;
  word-wrap: break-word;
  border-radius: 1.175rem;
  padding: 0.375rem;
}

.tasks-container .task-title {
  font-weight: 800;
}

.tasks-container .tasks-number {
  font-weight: 500;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tasks .tasks-control {
  display: flex;
  justify-content: space-between;
}

.tasks .tasks-control > * {
  margin: 0.5rem;
}

.tasks-control input[name="task-title"] {
  width: 40%;
}

.tasks-control input[name="task-detail"] {
  width: 60%;
}

.tasks-control button.submit-task-btn {
  width: 8rem;
  background-color: #008000;
  color: white;
}

.tasks-control button.submit-task-btn:hover {
  background-color: var(--primary-btn-hover);
}

.search-actions .sort-category-priority button {
  border: 0.25px solid black;
}

/**/
.tasks-cards {
  display: flex;
  flex-wrap: wrap;
}

.task-card {
  background-color: #f2eaea;
  padding: 0.5rem;
  border-radius: 1.175rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
}

.task-card .task-title {
  font-weight: 800;
}

.task-card .task-detail {
  font-weight: 500;
}

.task-card .task-date {
  font-weight: 500;
  color: gray;
}

.task-card .task-card-actions {
  display: flex;
  justify-content: space-between;
}

.task-card .task-card-actions button {
  padding: 0.5rem;
  border-radius: 1.175rem;
  background-color: #008000;
  color: white;
  cursor: pointer;
  transition: background-color 250ms;
}

.task-card .task-card-actions button:hover {
  background-color: var(--primary-btn-hover);
}

.task-card .task-card-actions button.task-card-edit {
  background-color: #f0d1a8;
  color: black;
}

.task-card .task-card-actions button.task-card-delete {
  background-color: #f87777;
  color: black;
}

.task-card-detail {
  color: rgb(92, 92, 92);
}

/**/

.load-more-btn {
  text-align: center;
}

.load-more-btn button.show-more {
  border: 2px solid #f4c582;
}

/* Modal styles: December 10,2024*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 400px;
}

.modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: red;
}

.modal-content .modal-title {
  text-align: center;
}

.edit-task-form {
  display: flex;
  flex-direction: column;
}

.edit-task-form > * {
  margin: 0.5rem;
}
/* 
.edit-task-form .cancel-edit-btn {
  border: 2px solid #f4c582;
} */

.edit-task-form .save-edit-btn {
  border: 2px solid #f4c582;
  background-color: green;
}
