<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/homepage/calendar.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/homepage/home.css}" />
    <script th:src="@{/JS/homepage/home.js}" defer></script>
  </head>
  <body>
    <nav>
      <div class="nav-logo">
        <img th:src="@{/images/Logo.svg}" alt="logo" />
      </div>

      <div class="nav-links">
        <ul>
          <li><a th:href="@{/}" class="active">home</a></li>
          <li><a th:href="@{/tasks}">tasks</a></li>
          <li><a th:href="@{/about}">about</a></li>
        </ul>
      </div>

      <div class="account-info" title="my-account">
        <a th:href="@{/my-account}">
          <img
            th:src="@{/images/icons/icons8-male-user-100.png}"
            alt="account-logo"
          />
        </a>
      </div>
    </nav>

    <section class="main-title">
      <h1>Hello, Aqeel, <span class="text-grey">Start planning today</span></h1>
    </section>

    <main class="dashboard">
      <div class="calendar-tasks-grid">
        <!---->
        <div class="calendar-tasks-overview">
          <p class="day-of-the-week" id="day-of-the-week"></p>
          <p class="date" id="full-date"></p>
          <!---->
          <div id="calendar" class="calendar">
            <div class="header">
              <button id="prev-month">&lt;</button>
              <h2 id="month-year"></h2>
              <button id="next-month">&gt;</button>
            </div>
            <div class="weekdays">
              <span>Sun</span>
              <span>Mon</span>
              <span>Tue</span>
              <span>Wed</span>
              <span>Thu</span>
              <span>Fri</span>
              <span>Sat</span>
            </div>
            <div id="days" class="days"></div>
          </div>
          <!---->
          <!-- <div class="tasks-overview">
            <div class="completed-tasks tasks-container">
              <p class="completed-tasks-title task-title">Completed Tasks</p>
              <p class="completed-tasks-number tasks-number">04</p>
            </div>
            <div class="pending-tasks tasks-container">
              <p class="pending-tasks-title task-title">pending Tasks</p>
              <p class="pending-tasks-number tasks-number">15</p>
            </div>
          </div> -->
        </div>
        <!---->
        <div class="tasks">
          <div class="show-selected-date">
            <p><b>Date of Task: </b><span id="show-date"></span></p>
          </div>
          <!---->
          <form action="#" class="tasks-control">
            <input
              type="text"
              name="task-title"
              id="task-title"
              placeholder="Type title of task"
              required
            />
            <input
              type="text"
              name="task-detail"
              id="task-detail"
              placeholder="Detail of your Task"
              required
            />
            <button type="submit" class="submit-task-btn">+</button>
          </form>
          <!---->
          <div class="search-actions">
            <div class="sort-category-priority">
              <button class="sort-tasks">By Category</button>
              <button class="sort-tasks">By Priority</button>
            </div>
            <div class="search-tasks">
              <input
                type="search"
                name="search-task"
                id="search-task"
                placeholder="Search by name"
              />
            </div>
          </div>
          <!---->
          <div class="tasks-cards">
            <div class="task-card">
              <div class="task-card-header">
                <p class="task-card-title"><b>Learn Javascript</b></p>
                <p class="task-card-priority">Priority: High</p>
              </div>
              <div class="task-card-body">
                <p class="task-card-detail">
                  Master the language powering the modern web
                </p>
                <p class="task-card-date">
                  <b> Start Date: <span id="task-date">22/02/2025</span> </b>
                </p>
                <div class="task-card-actions">
                  <button class="task-card-edit">Edit</button>
                  <button class="task-card-delete">Delete</button>
                </div>
              </div>
            </div>
            <div class="task-card">
              <div class="task-card-header">
                <p class="task-card-title"><b>Learn Java</b></p>
                <p class="task-card-priority">Priority: Low</p>
              </div>
              <div class="task-card-body">
                <p class="task-card-detail">
                  Master the language powering the enterprise software industry
                </p>
                <p class="task-card-date">
                  <b> Start Date: <span id="task-date">22/02/2025</span> </b>
                </p>
                <div class="task-card-actions">
                  <button class="task-card-edit">Edit</button>
                  <button class="task-card-delete">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <div class="load-more-btn">
            <button class="show-more" id="show-more">Load More</button>
          </div>
        </div>
      </div>
    </main>

    <script th:src="@{/JS/homepage/calendar/calendar.js}"></script>
  </body>
</html>
